
p{
    color: white;
    padding: 30px;
    font-size: 20px;
    text-align: center;
    text-shadow: 1px 1px 1px #111111;
}
*{
    margin:0;
    padding: 0;
    font-family: monospace;
}

body{
    background-color: black;
}

#div_direita{
    margin: 20px;
    width:29%;
    float: right;
    height: 550px;
    background-color:brown;
}

#div_esquerda{
    margin: 20px;
    width: 66%;
    height: 550px;
    float: left;
    background-color: greenyellow;
}

#div_principal{
    clear: both;
    min-height: 600px;
    background-image: url('imagens/back_ground.png');
    background-size: 100%;
    padding: 40px 0 0 0;
}
#imagem_menu{
    min-height: 100px;
    padding: 10px;
    text-align: center;
}

#logo{
    float: left;
}
#menu{
    float: right;
}
#menu a{
    color: white;
    text-decoration: none;
    text-shadow: 2px 2px 1px #111111;
    font-size: 20px;
    padding: 46px 20px;

}

#menu a:hover{
    background-color: #88CDAA;;
    
   


}

footer{
    min-height: 50px;
    clear: both;
    padding: 5px;
    color: black;
    text-align: center;
    text-shadow: 1px 1px 1px #111111;
    font-size: 30px;
    background-color: rgb(23, 118, 131);
}
header{
    height: 20px;
    background-color: rgb(23, 118, 131);
    padding: 50px;
}

h1{
    color: white;
    height:80px;
    text-align: center;
    text-shadow: 2px 2px 2px #111111;
    padding: 20px;
    margin: 0 0 10px 0;
    
}
.container{
    width: 750px;
    margin:0 auto;
}

.efeito{
    background-color:rgba(0, 0, 0, 0.5); 
    padding: 10px 50px 50px 100px;
}